[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
ipython = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-sanic = "*"

[packages]
aiohttp = "*"
python-decouple = "*"
rows = "*"
sanic-jinja2 = "*"
sanic = "*"
sanic_compress = "*"

[requires]
python_version = "3.7"
