[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
codecov = "*"
ipython = "*"
pytest = "*"
pytest-cov = "*"
pytest-flask = "*"
pytest-mock = "*"

[packages]
aiohttp = "*"
Flask = "*"
python-decouple = "*"
rows = "*"

[requires]
python_version = "3.7"
