aiocache[redis]==0.10.0
aiohttp==3.4.4
python-decouple==3.1
rows==0.3.1
sanic-compress==0.1.1
sanic-jinja2==0.7.1
sanic==0.8.3

# development
black==18.9b0
codecov==2.0.15
ipython==7.0.1
pytest==3.8.2
pytest-cov==2.6.0
pytest-mock==1.10.0
pytest-sanic==0.1.13
