{% extends "base.html" %}

{% block html_title %}{{ title }} | Sobre{% endblock %}
{% block main_title %}Sobre o {{ title }}{% endblock %}

{% block content %}
<div class="container about">
  <h2>Sobre</h2>
  <p>
    Este projeto é um esforço coletivo de reunir os casos já noticiados de
    vítimas de agressões motivadas por intolerância política. Há um crescente
    número de ataques sendo relatados no contexto eleitoral, mapear estes ataques
    é uma forma de visibilizar o avanço da intolerância no país.
  </p>

  <h2>Metodologia</h2>
  <p>
    <b>#VítimasDaIntolerância</b> reúne casos de agressões físicas sofridas
    durante o período eleitoral. Conhece algum caso de violência que não esteja
    listado em nosso site? Preencha nosso formulário. Nenhum dado pessoal é
    solicitado, apenas links para fontes confiáveis. Também aceitamos denúncias
    de posts em redes sociais, mas eles serão mantidos em um banco de dado
    s separado para posterior checagem da veracidade pelos nossos parceiros. 
    Nenhuma identidade dos relatos das redes sociais vai ser tornada pública ou
    transformada em reportagem antes dessa checagem e do consentimento expresso e
    informado do autor do post.
  </p>
  <h2>Outros levantamentos</h2>
  <ul class="black-link">
    <li>
      <a class="no-underline underline-hover" href="http://abraji.org.br/noticias/abraji-registra-mais-de-130-casos-de-violencia-contra-jornalistas-em-contexto-politico-eleitoral">
        Abraji registra mais de 130 casos de violência contra jornalistas em
        contexto político-eleitoral
      </a>
    </li>
    <li>
      <a class="no-underline underline-hover" href="https://www.tretaqui.org/">
        Denuncie discursos de ódio anonimamente no Tretaqui.org
      </a>
    </li>
  </ul>

</div>
{% endblock %}


