{% extends "base.html" %}

{% block html_title %}{{ title }} | Sobre{% endblock %}
{% block main_title %}Sobre o {{ title }}{% endblock %}

{% block content %}
<div class="container about">
  <h2>Sobre</h2>
  <p>
    Este projeto é um esforço coletivo de reunir os casos já noticiados de
    vítimas de agressões motivadas por intolerância política. Há um crescente
    número de ataques sendo relatados no contexto eleitoral, mapear estes ataques
    é uma forma de visibilizar o avanço da intolerância no país.
  </p>

  <h2>Metodologia</h2>
  <p>
    <b>#VítimasDaIntolerância</b> reúne notícias de casos de agressões
    motivadas pela intolerância política no Brasil, <b>desde 15 agosto de
    2018</b>, data limite de registro de candidaturas. Conhece algum caso de
    violência que não esteja listado em nosso site? Preencha nosso formulário.
    Nenhum dado pessoal é solicitado, apenas links para fontes confiáveis.
    Também aceitamos denúncias de posts em redes sociais, mas eles serão
    mantidos em um banco de dados separado para posterior checagem da
    veracidade pelos nossos parceiros. Nenhuma identidade dos relatos das redes
    sociais vai ser tornada pública ou transformada em reportagem antes dessa
    checagem e do consentimento expresso e informado do autor do post.
  </p>
  <p><b>Como selecionamos o que entra no levantamento?</b></p>
  <p>
    Não há filtro de caráter político ou partidário. Os critérios adotados para
    a compilação de casos são:
  </p>
  <ol>
    <li>
      Haver ao menos um registro publicado em veículo de notícia de circulação
      local ou nacional
    </li>
    <li>
      Relatar caso de violência (física ou verbal) direcionada a uma pessoa
      (vandalismos no espaço público, por exemplo, não entram)
    </li>
    <li>
      Haver no relato menções à motivação por intolerância política, seja ela
      direcionada a políticos em campanha ou eleitos, a partidos políticos ou a
      grupos minoritários
    </li>
  </ol>
  <p class="black-link">
    Se você tem alguma sugestão de alteração para nossa metodologia,
    <a href="https://github.com/okfn-brasil/vitimas-da-intolerancia/issues/25">
      comente aqui
    </a>.
  </p>
  <p><b>Onde posso ver os dados consolidados?</b></p>
  <p class="black-link">
    Acesse a
    <a href="https://docs.google.com/spreadsheets/d/e/2PACX-1vRGwxAMbJaNKzp0gmzeUWUIYbFnFNFKfJ0bIGbm6mdfp57_70kfENA7vd8AnlgCia8Ups8o_GjPO7j0/pubhtml">
      planilha
    </a>
    de casos já consolidados (os mesmos que estão disponíveis no site).
  </p>
  <h2>Outros levantamentos</h2>
  <ul class="black-link">
    <li>
      <a class="no-underline underline-hover" href="http://abraji.org.br/noticias/abraji-registra-mais-de-130-casos-de-violencia-contra-jornalistas-em-contexto-politico-eleitoral">
        Abraji registra mais de 130 casos de violência contra jornalistas em
        contexto político-eleitoral
      </a>
    </li>
    <li>
      <a class="no-underline underline-hover" href="https://www.tretaqui.org/">
        Denuncie discursos de ódio anonimamente no Tretaqui.org
      </a>
    </li>
  </ul>

</div>
{% endblock %}


