<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,700" rel="stylesheet"> 
    <link rel="stylesheet" href="/static/styles.css">
  </head>

  <body>

    <header class="centered black-bg white-text white-link">
      <div class="container">
        <h1>{{ title }}</h1>
        <p>
          Conheça as vítimas de ódio político, que, ao contrário do que muitos
          acreditam, não partem de um só lado. Agressões morais, físicas e
          homicídios – a contagem das Eleições 2018 não é só de apuração de
          votos mas também de vítimas.
        </p>
      </div><!-- .container -->
    </header>

    <main>
      {% for case in cases %}
      <div class="container case">

        <div class="image">
          <a href="{{ case.main_story.url }}">
            <img class="rounded-top-left" src="{{ case.main_story.image_or_video }}">
          </a>
        </div><!-- end .image -->

        <div class="content black-link">
          <div class="meta">
            <div class="source gray-bg white-text">{{ case.main_story.source }}</div>
            {% for tag, color in case.tags_and_colors %}
            <div class="tag {{ color }}">{{ tag }}</div>
            {% endfor %}
          </div><!-- end .meta -->

          <h2>
            <a class="no-underline" href="{{ case.main_story.url }}">{{ case.main_story.title }}</a>
          </h2>

          <h3 class="gray-text">
            {{ case.city }}, {{ case.state }} &mdash; {{ case.when.strftime('%d/%m/%Y') }}
          </h3>
          <p>{{ case.main_story.summary }}</p>

        </div><!-- end .content -->

        <div class="extra gray-bg white-text white-link rounded-bottom">
          {% if case.stories|length > 1 %}
          <h4>
            {% if case.stories|length == 2 %}
            Outra matéria
            {% else %}
            Outras matérias
            {% endif %}
            sobre o mesmo caso:
          </h4>
          <ul>
            {% for story in case.stories %}
            {% if not loop.first %}
            <li>
              <a class="no-underline" href="{{ story.url }}">
                {{ story.title }}
                <span class="source">{{ story.source }}</span>
              </a>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          {% endif %}
        </div><!-- end .extra -->
      </div><!-- end .case -->
      {% endfor %}

      <p class="centered white-link">
        &nbsp;<br>
        &nbsp;<br>
        &nbsp;<br>
        <a class="big button no-underline black-bg" href="https://docs.google.com/forms/d/1JiiK1aQD9aKDSRi6t-JA6J98PXKi9lorNgZAoIuY058/edit">
          Sabe de mais algum caso ou matéria que não está aqui?
          Relate aqui!
        </a>
      </p>

    </main>

    <footer class=" black-bg white-text white-link">
      <div class="container">

        <div class="links">
          <p>Mais além do {{ title }}</p>
          <a class="no-underline" href="http://abraji.org.br/noticias/abraji-registra-mais-de-130-casos-de-violencia-contra-jornalistas-em-contexto-politico-eleitoral">
            Abraji registra mais de 130 casos de violência contra jornalistas
            em contexto político-eleitoral
          </a>
          <nav>
            <a class="no-underline" href="https://www.tretaqui.org/">
              Denuncie discursos de ódio anonimamente no Tretaqui.org
            </a>
          </nav>
        </div><!-- end .links -->

        <div class="credits right">
          <p>{{ title }} é feito com amor por</p>
          <nav>
            <a class="no-underline" href="https://br.okfn.org/">
              <img src="/static/okbr.png" alt="Open Knowledge Brasil">
            </a>
            <a class="no-underline" href="https://brasil.io/">
              <img src="/static/brasil-io.png" alt="Brasil.IO">
            </a>
            <a class="no-underline" href="https://apublica.org/">
              <img src="/static/a-publica.png" alt="Agência Pública">
            </a>
        </div><!-- end credits -->
      </div><!-- end .container -->

      <p class="centered">
        <a class="no-underline" href="https://github.com/okfn-brasil/vitimas-da-intolerancia/">
          Feito com código aberto
        </a>
      </p>
    </footer>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src=“https://www.googletagmanager.com/gtag/js?id=UA-127226524-1“></script>
    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}
     gtag(‘js’, new Date());
     gtag(‘config’, ‘UA-127226524-1’);
    </script>

  </body>
</html>
